@page "/transaction"
@attribute [Authorize(policy: "AdminOnly")]

@inject IGetTransactionsUseCase GetTransactionsUseCase
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-2">
        <label for="cashier">Cashier Name</label>
        <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
    </div>
    <div class="col-3">
        <label for="startdate">Start Date</label>
        <input type="date" id="startdate" class="form-control" @bind-value="startDate" />
    </div>
    <div class="col-3">
        <label for="enddate">End Date</label>
        <input type="date" id="enddate" class="form-control" @bind-value="endDate" />
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary form-control" @onclick="LoadTransactions">Search</button>
    </div>
    <div class="col-2">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-primary form-control" @onclick="PrintReport">Print</button>
    </div>
</div>

<br />

@if (transactions != null)
{
    <div id="printarea">
        <table class="table">
            <thead>
                <tr>
                    <th>Date Of Service</th>
                    <th>Cashier's name</th>
                    <th>Product Name</th>
                    <th>Quantity Before</th>
                    <th>Quantity Sold</th>
                    <th>Quantity After</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in transactions)
                {
                    <tr>
                        <td>@trans.TimeStamp.ToString("yyyy/MM/dd hh:mm")</td>
                        <td>@trans.CashierName</td>
                        <td>@trans.ProductName</td>
                        <td>@trans.BeforeQuantity</td>
                        <td>@trans.SoldQuantity</td>
                        <td>@(trans.BeforeQuantity-trans.SoldQuantity)</td>
                        <td style="text-align:right">@(string.Format("{0:c}",trans.Price * trans.SoldQuantity))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td>
                        <b>Total Balance:</b>
                    </td>
                    <td style="text-align:right">
                        <b>@(string.Format("{0:c}",transactions.Sum(x => x.Price * x.SoldQuantity)))</b>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

}


@code {
    private string cashierName;
    private DateTime startDate;
    private DateTime endDate;
    private IEnumerable<Transaction> transactions;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        startDate = DateTime.Today;
        endDate = DateTime.Today;
    }

    private void LoadTransactions()
    {
        transactions = GetTransactionsUseCase.Execute(cashierName, startDate, endDate);
    }
    private void PrintReport()
    {
        JSRuntime.InvokeVoidAsync("print");
    }
}
